body {
  font-family: 'Didot', serif;
  background-color: #202020;
  color: #ead66a;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.choropleth_map, .stacked_bar_chart, .bubble_chart, .dotplot_emoji, .pie_chart, .word_cloud {
  margin: 20px;
  padding: 10px;
  background-color: #202020;
}

p {
  color: #ffffff;
  font-size: 1.2em;
}
