body {
  font-family: 'Didot', serif;
  background-color: #202020;
  color: #ead66a;
}

h1 {
  text-align: center; /* Center the entire heading */
  margin-bottom: 0;   /* Reduce the space between the two lines */
}

h1 span:first-child {
  font-size: 1.5em; /* The World's */
  display: block;
  color: #c7ba78;
}

h1 span:last-child {
  font-size: 2.5em; /* Billionaires */
  margin-top: -15px; /* Adjust the space between the lines */
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}



.chart-section2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}



h2 {
  font-size: 24px;
  color: #ead66a;
}

p {
  font-size: 14px;
  color: #cfcfcf;
}

#word_cloud, #pie_chart {
  height: 400px;
}

#choropleth_map, #dotplot_emoji, #population_pyramid {
  height: 400px;
}

.population_pyramid, .dotplot_emoji, .radar_chart, .word_cloud, .choropleth_map, .bar_chart, .pie_chart {
  margin: 20px auto;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 8px;
  width: 90%; /* Adjusts the width for responsiveness */
  max-width: 1000px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}